* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #333;
}
p {
    color: #ddd;       /* Couleur harmonisée */
    max-width: 400px;  /* Limite la largeur du paragraphe */
    word-wrap: break-word; /* Forcer le retour à la ligne si un mot est trop long */
    overflow-wrap: break-word; /* Pour les très longs mots */
}



.inner{
    padding-top: 90px;
}

.header{
    text-align:center;
    color:#fff;
    padding:1rem;
    position: relative;

}

.header:after{
    content:'';
    position: absolute;
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 100px;
    background-color: #2ecc71;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size:1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.skill-box{
    padding: 1rem;
    color: #ddd;
    cursor: pointer;
}

.skill-box:hover > .skill-title:after, .skill-box:hover > .skill-title:before{
    width: 35px;
}

.skill-box:hover .img{
    transform: translateY(-10px);
}

.skill-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
}

.skill-title:after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 0;
    height: 4px;
    border-radius: 2px 0 0 2px;
    background-color: #2ecc71;
    transition: 1s;
}

.skill-title:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 4px;
    border-radius: 0 2px 2px 0;
    background-color: #2ecc71;
    transition: 1s;
}

.img{
    width: 90px;
    height: 90px;
    position: relative;
    border-radius: 45px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.img:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 90px;
    background: rgba(100, 100, 100, 0.5);
    border-radius: 45px 0 0 45px;
}

.skill-title h3{
    color: #fff;
    margin-top: 0.5rem;
}

.skill-icon{
    width: 70px;
    z-index: 2;
}

.skill-iconPHP{
    width: 85px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #3a3a3a;
    z-index: 1000; /* Assure que la nav reste au-dessus des autres éléments */
    padding: 10px 0;
    text-align: center;
}

/* Liste de navigation */
nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none; /* Enlève les puces de la liste */
    text-align: center; /* Centre les éléments dans la liste */
}

nav ul li {
    position: relative;
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    display: inline-block;
    padding: 15px 40px;
    border: none;
    outline: none;
    color: #333;
    background-color: #fff;
    box-shadow: 1px 1px 10px #333;
    text-decoration: none;
    border-radius: 12px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Adaptation sur petits écrans */
@media (max-width: 768px) {
    nav ul {
        display: block;
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    nav ul li a {
        padding: 10px 20px;
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    }
}

nav ul li a:hover {
    background-color: #fff;
    color: #333;
}

nav ul li a:after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    left: 0;
    top: 0;
    border-radius: 10px;
}

nav ul li a:before {
    content: "";
    background: linear-gradient(
        45deg,
        #307983, #3df8a7, #3fc9a9, #8aeae5,
        #8aeae5, #3fc9a9, #3df8a7, #307983
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(5px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
}

@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
}

nav ul li a:hover:before {
    opacity: 1;
    color: #fff;
}

@media screen and (max-width: 990px) {
    .container{
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem 50px;    
    }
    .inner{
        margin-top: 200px;
    }
}