* {
    margin: 0;
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #3a3a3a;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    position: fixed;
    top: 5vh;
    left: 0;
    width: 100%;
    background-color: #3a3a3a;
    z-index: 1000; /* Assure que la nav reste au-dessus des autres éléments */
    padding: 10px 0;
    text-align: center;
}

/* Liste de navigation */
nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none; /* Enlève les puces de la liste */
    text-align: center; /* Centre les éléments dans la liste */
}

nav ul li {
    position: relative;
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    display: inline-block;
    padding: 15px 40px;
    border: none;
    outline: none;
    color: #333;
    background-color: #fff;
    box-shadow: 1px 1px 10px #333;
    text-decoration: none;
    border-radius: 12px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Adaptation sur petits écrans */
@media (max-width: 768px) {
    nav ul {
        display: block;
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    nav ul li a {
        padding: 10px 20px;
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    }
}

nav ul li a:hover {
    background-color: #fff;
    color: #333;
}

nav ul li a:after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    left: 0;
    top: 0;
    border-radius: 10px;
}

nav ul li a:before {
    content: "";
    background: linear-gradient(
        45deg,
        #307983, #3df8a7, #3fc9a9, #8aeae5,
        #8aeae5, #3fc9a9, #3df8a7, #307983
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(5px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
}

@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
}

nav ul li a:hover:before {
    opacity: 1;
    color: #fff;
}