* {
    margin: 0;
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #3a3a3a;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    position: fixed;
    top: 5vh;
    left: 0;
    width: 100%;
    background-color: #3a3a3a;
    z-index: 1000; /* Assure que la nav reste au-dessus des autres éléments */
    padding: 10px 0;
    text-align: center;
}

/* Liste de navigation */
nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none; /* Enlève les puces de la liste */
    text-align: center; /* Centre les éléments dans la liste */
}

nav ul li {
    position: relative;
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    display: inline-block;
    padding: 15px 40px;
    border: none;
    outline: none;
    color: #333;
    background-color: #fff;
    box-shadow: 1px 1px 10px #333;
    text-decoration: none;
    border-radius: 12px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Adaptation sur petits écrans */
@media (max-width: 768px) {
    nav ul {
        display: block;
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    nav ul li a {
        padding: 10px 20px;
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    }
}

nav ul li a:hover {
    background-color: #fff;
    color: #333;
}

nav ul li a:after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    left: 0;
    top: 0;
    border-radius: 10px;
}

nav ul li a:before {
    content: "";
    background: linear-gradient(
        45deg,
        #307983, #3df8a7, #3fc9a9, #8aeae5,
        #8aeae5, #3fc9a9, #3df8a7, #307983
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(5px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
}

@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
}

nav ul li a:hover:before {
    opacity: 1;
    color: #fff;
}

/* Compétences */
.skill {
    display: flex;
    border: 1.5px solid rgb(221, 219, 219);
    padding: 15px;
    border-radius: 20px;
    position: relative;
    background-color: #3a3a3a;
    margin-top: 100px;
}

.skill::before {
    content: "Mes Compétences";
    position: absolute;
    top: -15px;
    left: 25px;
    background-color: #3a3a3a;
    padding: 4px 8px;
    color: rgb(221, 219, 219);
    font-size: 0.9em;
}

.skill .name {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 1.6em;
    font-weight: 400;
    margin-right: 30px;
    background-color: #3a3a3a;
}

.skill .name span {
    margin: 10px 0;
    box-shadow: 7px 7px 12px #333333,
                -7px -7px 12px #242424;
    padding: 8px 18px;
    text-align: center;
    border-radius: 40px;
    border: 4px solid #3a3a3a;
    background-color: #3a3a3a;
    transition: 0.2s;
    cursor: pointer;
}

.skill .name span:hover {
    color: #307983;
    box-shadow: 8px 8px 13px #333333, 
                -8px -8px 13px #242424,
                inset 8px 8px 13px #212121, inset -8px -8px 13px #333333;
}

/* Conteneur des barres */
.bar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #3a3a3a;
    border-radius: 8px;
}

/* Barres de progression */
.bar {
    box-shadow: inset 5px 5px 5px #242424,
                inset -5px -5px 5px #333333;
    width: 350px; 
    height: 25px; 
    border-radius: 15px;
    background-color: #3a3a3a; 
}

.bar .progress {
    border-radius: 15px; 
    height: 100%;
    background: linear-gradient(to right, #307983, #8aeae5);
}

.bar:nth-child(1) .progress {
    width: 40%;
}

.bar:nth-child(2) .progress {
    width: 36%;
}

.bar:nth-child(3) .progress {
    width: 30%;
}

.bar:nth-child(4) .progress {
    width: 60%;
}
.bar:nth-child(5) .progress {
    width: 10%;
}
.bar:nth-child(6) .progress {
    width: 10%;
}