body {
    font-family: Calibri, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #7995f9;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #7995f9;
    overflow: hidden;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
    border: 1px solid white;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

nav ul li a:hover {
    background-color: #ffffff;
    color: #7995f9;
    border: 1px solid #7995f9;
    border-radius: 10px;
}

section.coordonnees {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section.coordonnees h2 {
    color: #333;
    margin-bottom: 10px;
}

section.coordonnees ul {
    list-style-type: none;
    padding: 0;
}

section.coordonnees ul li {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #f4f4f4;
    color: #666;
    font-size: 0.8em;
}
